<tr>
  <td><%= stock['symbol'] %></td>
  <td><%= stock['latest_price'] %></td>
  <td><%= stock['change'] %></td>
  <td><%= stock['week_52_high'] %></td>
  <td><%= stock['week_52_low'] %></td>
  <td><%= link_to "Buy", new_transaction_path(symbol: stock['symbol'], unit_price: stock['latest_price'], transaction_type: 'buy'), class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %></td>
  <td><%= link_to "Sell", new_transaction_path(symbol: stock['symbol'], unit_price: stock['latest_price'], transaction_type: 'sell'), class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %></td>
</tr>